/* body {
  font-family: Arial;
  padding: 20px;
}

.filter-box {
  margin-bottom: 15px;
}

input {
  padding: 6px;
  margin-right: 5px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
} */